{{>layout/header}}
 <div class="col-lg-12 text-center">
  <h2>회원가입</h2>
  <!--회원가입 창-->
  <div>
   <input type="text" id="loginId" name="loginId" placeholder="이름"><br />
   <br />
   <input type="password" id="loginPw" name="loginPw" placeholder="아이디"><br />
   <br />
   <input type="password" id="loginPw" name="loginPw" placeholder="이메일"><br />
   <br />
   <input type="password" id="loginPw" name="loginPw" placeholder="비밀번호"><br />
   <br />
   <input type="password" id="loginPw" name="loginPw" placeholder="비밀번호 확인"><br />
   <br />
   <br />


   <div>
    <input id="login_btn" type="button" value="확인" /><br /><br />
   </div>

   <div class="search">
    <p>이미 hittheroad의 회원이신가요?</p>
    <a href="sign_in">로그인 후 이용하세요.</a>
   </div>
  </div>
 </div>
 <!-- Menu Toggle Script -->
 <script>
  $("#menu-toggle").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled");
  });
 </script>
{{>layout/footer}}
